@import '~scss_common/colours.scss';
@import '~scss_common/flex.scss';
@import '~scss_common/mixins.scss';

#sideNav{
    width: 200px;
    height: 100vh;
    background-color: $mainTheme1_red_very_light;

    #navHeader{
        background-color: $mainTheme1_red_light;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 25px;
        font-size: 14pt;
        font-weight: 700;
        color: $mainTheme1_red_super_light;
    }

    .flex-child{
        padding: 10px 0 10px 10px;

        &.nav-item{
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: $mainTheme1_red_super_light;
            }
        }
    }
}